


#cabecera{
    
    border-radius: 5px;
    background-color:#A4A4A4;
    margin-right: auto;
    margin-left: auto;
    width:1300px;
}


#ull{
    border-radius: 5px;
}


#titulos{
    border-radius: 5px;
    background-color:#A4A4A4;
    margin-right: auto;
    margin-left: auto;
    width:1000px;
}

#notitulos{
    border-radius: 5px;
   
    margin-right: auto;
    margin-left: auto;
    width:1000px;
}